<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car - <%= car.id %></title>
</head>
<body>

    <h1>Viewing Car <%= car.id %> </h1>
    <h2>Car Model : <%= car.model %> </h2>
    <h2>Car Licence No. : <%= car.licenceNo %> </h2>
    
</body>
</html>